body {
    background-color: black;
  }
  
  h1 {
    font-family:'Courier New', Courier, monospace;
    color: #ffe81f;
    font-size: 5vw;
    font-weight: 900;
    text-align: center;
  }
  h2 {
    font-family:'Courier New', Courier, monospace;
    color: #ffe81f;
    font-weight: 900;
    text-align: center;
    font-size: 3vw;
    margin-top: 20vh;
  }
  h3 {
    font-family:'Courier New', Courier, monospace;
    color: #ffe81f;
    font-weight: 900;
    text-align: center;
    font-size: 2.4vw;
    margin-top: 5vh;
  }
  p{
    color: #ffffff;
    font-size: 24px;
  }
  initialtext{
    color: #ffffff;
    font-size: 24px;
    margin-left: 10%;
  }
  box1{
    height: fit-content;
    display: flow;
  }

   ol li {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ffe81f;
    margin-left: 25vw;
    font-size: 25px;
}
li{
    max-width: 40vw;
    text-align: justify;
}
ul{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ffffff;
    font-size: 25px;
    margin-left: 30vw;
}
table {
    border-spacing: 10px; 
    border-collapse: separate; 
    margin-left: 25vw;
}


table th, table td {
    font-family:'Courier New', Courier, monospace;
    padding: 15px; 
    border: 1px solid #ffe81f;
    color: #ffffff;
}
iframe{
    margin-left: 30vw;
}

    